{% extends 'base.html.twig' %}

{% block title %}Catégorie!{% endblock %}

{% block body %}

    <div class="container my-5">
        <h1>Mon panier</h1>
        <div class="row">
            <div class="col-md-8">

                      {% for product in cart %}
                            <div class="row mt-2">
                                    <div class="col-md-2">
                                        <img src="/uploads/{{product.object.illustration}}" alt="{{product.object.name}}" class="img-fluid">
                                    </div>

                                    <div class="col-md-6">
                                        <strong>{{product.object.name}}</strong>
                                        <span class="d-block small">Prix unitaire: {{product.object.pricewt|price}}</span>
                                    </div>
                                    
                                    <div class="col-md-2 text-right">
                              
                                        <span class="badge text-bg-secondary">x{{product.qty}}</span>
                                        <a href="{{path('app_cart_decrease', { id: product.object.id }) }}" class="btn btn-sm btn-danger">-</a>
                                        <a  href="{{path('app_cart_add', { id: product.object.id }) }}" class="btn btn-sm btn-success">+</a>
                                    </div>
                                    <div class="col-md-2 text-right">
                                        <strong>{{(product.qty * product.object.pricewt)|price}}</strong>
                                    </div>
                            </div>

                       {% endfor %}    

                      <a href="{{path('app_cart_remove')}}" class="small d-block mt-3">Vider le panier</a>
                
            </div>
            <div class="col-md-4">
                <div class="bg-light p-2 d-flex align-items-center justify-content-between">
                    <span class="fw-bold mt-3">Total produit</span>
                    <span>{{fullQuantity}}</span>
                </div>
               <div class="bg-light p-2 d-flex align-items-center justify-content-between">
                    <span class="fw-bold mt-3">Prix total T.T.C</span>
                    <span>{{ totalWt|price}}</span>
                </div>
                <a href="" class="btn btn-success w-100 mt-3">Commander</a>
 
            </div>    
    </div>
  
{% endblock %}
