{% extends '@!EasyAdmin/layout.html.twig' %}

{% block main %}
   
<h3>Commande n° : {{order.id}}</h3>
 {{ include('admin/state.html.twig', {field: {value: order.state}}) }} 
 <br/>
 <br/>
<span class="badge badge-secondary">Commande passer le :{{order.createdAt|date('d/m/y')}}</span>

<div class="row my-4">
    <div class="col-md-6">
        <h4>Addresse de livraison</h4>
        {{order.delivery|raw}} 
    </div>
    <div class="col-md-6">
        <h4>Transporteur</h4>
        {{order.carrierName}} <br>
    </div>

    <strong>Contenu de la commande</strong><br>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire H.T</th>
                <th scope="col">TVA</th>
                <th scope="col">Total TTC</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.orderDetails %}
                <tr>
                    <td><img src="/uploads/{{product.productIllustration}}" alt="{{product.productName}}" class="img-fluid" style="width: 50px"></td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productQuantity}}</td>
                    <td>{{product.productPrice|price}}</td>
                    <td>{{product.productTva}}</td>
                     {% set coeff = 1+(product.productTva / 100)  %}
                    <td>{{((product.productPrice * coeff) * product.productQuantity)|price}}</td>
                </tr>
            {% endfor %}

            <tr>
              
              <td> </td>
              <td>
                  {{order.carrierName}}
              </td>
                <td>1</td>
                <td></td>
                <td></td>
                <td> {{order.carrierPrice|price}}</td>
                
            </tr>
        </tbody>
    </table>
</div>

<div class="text-right fs-5">
    <strong>Total H.T : </strong>{{(order.totalwt - order.totalTva)|price}}<br>
    <strong>Total TVA:</strong> {{order.totalTva|price}}<br>
    <strong>Total TTC : </strong>{{order.totalwt|price}}
</div>
    
{% endblock %}